<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
<connectionStrings>
  <add name="EstacionamientoBD"
       connectionString="Data Source=localhost;Initial Catalog=EstacionamientoBD;Integrated Security=True;TrustServerCertificate=True;Encrypt=True;"
       providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>