<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EstacionamientoBD"
            connectionString="Data Source=DESKTOP-M38Q9L1\SQLEXPRESS;Initial Catalog=EstacionamientoBD;Integrated Security=True;Trust Server Certificate=True" />
    </connectionStrings>
</configuration>